{% extends "base.html" %}
{% block head %}
<title>Register</title>
{% endblock head %}
{% block body %}
<h1>Register</h1><br>
<div class="col-md-4">
    <form method="POST">
        {% csrf_token %}
        <h5>Username</h5>{{ form.username }}
        <h5>First name</h5>{{ form.first_name }}
        <h5>Last name</h5>{{ form.last_name }}
        <h5>Email</h5>{{ form.email }}
        <h5>Password</h5>{{ form.password1 }}
        <h5>Password confirm</h5>{{ form.password2 }}
        <br><button class="btn btn-outline-primary" type="submit">Register</button>
    </form>
</div>
{% endblock body %}